#container {
    margin: 0 auto;
    width: 960px;
}

#textparagraphs p {

    text-align: justify;
}

div.bg-black {
    background-color: #000000;
}
#firstparagraph p {
    text-align: center;
    color: #ffffff;
}

.odd {
    color: #ff0000;
}

.even {
    color: #0000f0;
}

th {
    background-color:#000000 ;
    color: #ff0000;
}

td {
    background-color: #5370C3;
    color: #ffffff ;
    text-align: right;
}

